<configuration>
  <appSettings>
    <add key="hostname" value="localhost" />
    <add key="queuename" value="hello" />
    <add key="durable" value="true" />
    <add key="autoDelete" value="false" />
    <add key="exclusive" value="false" />
    <add key="connString" value="mongodb://mongodb0.example.com:27017" />
  </appSettings>
</configuration>
